div.contain
  div.gridR
      div.whitegrid
        p Arrowhead Farms is a family owned corporation that was incorporated in 1998, but has been passed down for three generations.  The business has remained in the Harris family and is currently operated by Stephen and Isaac Harris.  The corporation currently produces cotton, corn, soybeans, wheat, rapeseed, barley, and oats.  We reside in Pasquotank County and are located right outside Elizabeth City, NC.
