div.contact
  div.gridR
    div.whitegrid
      div.contactinfo
        p.impt Business Inquires
        p Steve Harris
        p stepheniharris57@gmail.com
        p.impt Design Inquires
        p Nat Harris
        p nharris1996@yahoo.com
