div.windfarm
  div.gridL
    div.whitegrid
      p Nine of the 104 wind turbines of Amazon Wind Farm U.S. East are located on Arrowhead Farms.  Owned and operated by Avangrid Renewables, this windfarm is the first and only windfarm in the southeastern United States.  In total, the 104 wind turbines can generate 208 megawatts of power, which is enough to power more than 61,000 homes annually.  The entire windfarm covers 22,000 acres, which are leased from over 60 landowners, one of which is Arrowhead Farms.
