

.header
  background-image: url(https://raw.githubusercontent.com/nat1996/blank_website_template/master/assets/img/wheat_field.jpg)
  height: 100vh
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  bottom: 350px


  // center
  //   padding-top: 30vh
  //
  // bottom
  //   position: relative
  //   transform: translateY(-100%)


.nav
  margin-top: -45px
  height: 45px
  //padding-top: 10px
  //padding-left: 20px
  background-color: black
  color: white
  font-family: 'Raleway', sans-serif
  display: flex
  z-index: 1
  position: relative
  bottom: 350px







  a
    text-decoration: none

  li
    list-style: none
    float: left
    margin-right: 30px

  li:hover
    color: #ff9d00
    text-decoration: underline

  li:active
    color: #ff9d00
